<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>
table, td {
    border:1px solid black;
}
h2 {
    color: green;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<h2>Tic Tac Toe Table</h2>

<form action="#" th:action="@{/}" method="post" th:object="${ticActions}">
<!--    <tr>-->
<!--        <td><input type="text" th:field="*{a}"></td>-->
<!--        <td><input type="text" th:field="*{b}"></td>-->
<!--        <td><input type="text" th:field="*{c}"></td>-->
<!--    </tr>-->
    <input type="submit" value="A1" name="name"/>
    <input type="submit" value="A2" name="name"/>
    <input type="submit" value="A3" name="name"/><br/>
    <input type="submit" value="B1" name="name"/>
    <input type="submit" value="B2" name="name"/>
    <input type="submit" value="B3" name="name"/><br/>
    <input type="submit" value="C1" name="name"/>
    <input type="submit" value="C2" name="name"/>
    <input type="submit" value="C3" name="name"/><br/>
    <input type="submit" value="Zeruj" name="name"/>
</form>

<table style="width:100%">

    <tr>
        <td><input type="text" th:value="${ticActions.xa}"></td>
        <td><input type="text" th:value="${ticActions.xb}"></td>
        <td><input type="text" th:value="${ticActions.xc}"></td>
    </tr>
    <tr>
        <td><input type="text" th:value="${ticActions.xd}"></td>
        <td><input type="text" th:value="${ticActions.xe}"></td>
        <td><input type="text" th:value="${ticActions.xf}"></td>
    </tr>
    <tr>
        <td><input type="text" th:value="${ticActions.xg}"></td>
        <td><input type="text" th:value="${ticActions.xh}"></td>
        <td><input type="text" th:value="${ticActions.xi}"></td>
    </tr>
</table>
<input type="text" th:value="${ticActions.sprawdzenie}">
<!--<td><input type="text" th:if="${ticActions.a} ? 'x' : 'y'"></td>-->
<!--<button><a href="/" class="btn right">Zeruj</a></button>-->
</body>
</html>